.box{
    color: yellow;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: linear-gradient(to right, red,yellow);
}
.boxtwo{
    color: yellow;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: linear-gradient(to right, red,yellow);
}